.header-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
.header {
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

.Contact, .Home, .AboutUs, .Target, .Events {
    display: flex;
    justify-content: center;
    font-size: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: solid transparent;
    width: auto; /* Set the desired width for the buttons */
    text-align: center; /* Center the button text */
}

.Home, .AboutUs, .Target, .Events {
    margin-right: 90px;
}

.Home:hover a, .AboutUs:hover a, .Target:hover a, .Events:hover a, .Contact:hover a {
    background-color: #a27b5f;
    color: black;
    box-shadow: 0 0 0 2px #4b4331;
    border-radius: 10px;
}

.login-text:hover {
    border-bottom: solid white;
}

.headerLink {
    border: solid;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-left: none;
    border-right: none;
    padding: 0 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login {
    display: flex;
    align-items: center;
}

.login-text {
    border: none;
    font-size: 25px;
    margin-left: 70px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-left: none;
    border-right: none;
    padding: 0 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-text {
    border: none;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 7px;
}  

.user-icon {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-decoration: none;
}

.logOut {
    color: red;
    font-weight: bold;
}

body {
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.user-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: #fff;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-container:hover .user-menu {
    display: block;
  }
  
  .user-menu li {
    cursor: pointer;
    padding: 5px 0;
  }
  
  .user-menu li:hover {
    background-color: #f2f2f2;
  }
  
  
  