.intro-left-text {
    width: 650px;
    height: auto;
    word-wrap: break-word;
    flex: 1;
}

.intro {
    margin: 20px;
    line-height: 1.7;
}

.intro-right-image {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 355px;
}

.intro-img {
    align-self: center;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border: solid 5px #4b4331;
}

.body2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    margin: 20px;
}

.info {
    background-color: lightgrey;
    border: solid 5px black;
    width: 240px;
    height: 370px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.info:hover {
    background-color: #a27b5f;
    border: solid 5px #4b4331;
    color: white;
}

.big-text {
    text-align: right;
    font-weight: bolder;
    font-size: 90px;
    margin: 0;
}

.title-text {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
}

.description {
    margin-left: 10px;
    line-height: 1.7;
}


